# Amazon Web Services
AWS_ACCESS_KEY_ID="ABCDE0FGH1IJKLMN2OPQ"
AWS_SECRET_ACCESS_KEY="AbcdeFGhIjKLm+nOPqRsTuVwXYz0aBcDEF1g2hiJ"
# optional
AWS_REGION=""

# Azure connection requires AZURE_STORAGE_ACCOUNT and AZURE_STORAGE_ACCESS_KEY, or AZURE_STORAGE_CONNECTION_STRING
AZURE_STORAGE_ACCOUNT="myStorage"
AZURE_STORAGE_ACCESS_KEY="ABcdeFg0h1IJk2Lmnop34qrsT5uvwXYzAbcde+fGHI6jkL7Mn890opqr1st2/UvW3x4yz5ABCdeFgHI67J8KLM=="
# AZURE_STORAGE_CONNECTION_STRING=""

# Mongo settings
MONGO_URI="mongodb://user:pass@subdomain.mongolab.com:port/path"
