@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,800,700,600,300);

/* CSS Reset */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, em, img, strong, b, ol, ul, li, form, label {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

/* Global Styles */
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background: #f2f2f2;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  font-weight: 400;
  min-height: 300px;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: block;
}

a {
  color: teal;
  padding-bottom: 0.5px;
  text-decoration: none;
}

a:hover {
  border-bottom: 1px solid teal;
  color: teal;
  text-decoration: none;
}

a:focus {
  color: teal;
  text-decoration: none;
}

/* Navbar */
nav {
  background: white;
  border-bottom: 1px solid #ccc;
  height: 50px;
  margin: 0 auto;
  padding: 10px 20px 10px 20px;
  top: 0;
  width: 100%;
}

.home,
.menu {
  font-family: 'Quicksand', Helvetica, sans-serif;
  font-size: 1.4em;
}

.home {
  display: inline-block;
  font-weight: 600;
}

.menu {
  color: teal;
  display: inline-block;
  float: right;
}

.menu:hover {
  cursor: pointer;
}

/* Search Component */
.search-block {
  margin: 40px auto;
  width: 500px;
}

.main-search {
  border: 1px solid #ccc;
  font-family: 'Quicksand';
  font-size: 0.85em;
  padding: 8px 15px 8px 15px;
  text-align: center;
  width: 500px;
}

.main-search:focus {
  border: 1px solid teal;
  box-sizing: border-box;
  outline: none;
}

.search-results {
  line-height: 1.8em;
  margin-top: 20px;
}

/* Signin Block */
.table-frame {
  display: table;
  height: 85%;
  position: absolute;
  width: 100%;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}

.signup-block,
.signin-block {
  margin: 0 auto;
  width: 375px;
}

.signin-block-header,
.signup-block-header {
  margin-bottom: 15px;
}

.signin-block-title,
.signup-block-title {
  color: teal;
  display: inline-block;
  font-family: Quicksand, 'sans-serif';
  font-weight: 600;
  margin-left: 0.25em;
  font-size: 1.4em;
}

.signin-block-signup,
.signup-block-signin {
  float: right;
  font-size: 0.75em;
  margin-top: 0.5em;
  margin-right: 0.5em;
}

/* Signin Form */
.signin-form,
.signup-form {
  background: white;
  border: 1px solid lightgrey;
  border-radius: 3px;
  padding: 25px;
}

.user-block,
.password-block,
.email-block {
  border: 1px solid lightgrey;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
}

.user-icon,
.password-icon,
.email-icon {
  display: inline-block;
  height: 1.4em;
  margin-left: 10px;
  width: 20px;
}

.form-username,
.form-password,
.form-email {
  border: none;
  display: inline-block;
  padding: 8px 15px 0 15px;
  width: 90%;
}

.input:focus {
  outline: none;
}

.signin-submit-button,
.signup-submit-button {
  background: teal;
  border: 1px solid teal;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  color: #f2f2f2;
  display: inline-block;
  height: 39px;
  margin-bottom: 5px;
  padding: 8px 15px 8px 15px;
  position: relative;
}

.signin-submit-button {
  float: right;
}

.signup-submit-button {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  margin-top: 10px;
  width: 100%;
}

.signin-submit-button:hover,
.signup-submit-button:hover {
  background: #008c8c;
}

#x {
  width: 200px;
}

/* Signup Form */
.signup-form .email-block {
  margin-bottom: 20px;
}

.signup-form p {
  font-size: 0.75em;
  font-weight: 700;
  margin-bottom: 4px;
}

.dropdown {
  margin-bottom: 15px;
}

select {
  width: 100%;
}
