@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,800,700,600,300);

/* CSS Reset */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, em, img, strong, b, ol, ul, li, form, label {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

/* Media Queries */
@media (min-width: 300px) {
  .search-block,
  .main-search {
    width: 375px;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .search-block,
  .main-search  {
    width: 500px;
  }
}

@media (min-width: 992px) {
  .search-block,
  .main-search  {
    width: 600px;
  }
}

/* Global Styles */
*, *:before, *:after {
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

body {
  background: #f2f2f2;
  display: block;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  font-weight: 400;
  height: 100%;
  margin: 0;
  min-height: 300px;
  padding: 0;
  width: 100%;
}

a {
  color: teal;
  padding-bottom: 0.5px;
  text-decoration: none;
}

a:hover {
  border-bottom: 1px solid teal;
  color: teal;
  text-decoration: none;
}

a:focus {
  color: teal;
  text-decoration: none;
}

/* Navbar */
nav {
  background: teal;
  height: 50px;
  padding: 10px 20px 10px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.home,
.menu {
  font-family: 'Quicksand', Helvetica, sans-serif;
  font-size: 1.4em;
}

.home {
  display: inline-block;
  font-weight: 600;
}

.home a {
  color: white;
}

.home-icon {
  color: white;
  margin-right: 10px;
}

.menu {
  color: white;
  display: inline-block;
  float: right;
}

.menu:hover {
  cursor: pointer;
}

/* Search Component */
.main-search {
  border: 1px solid #e5e5e5;
  font-family: 'Quicksand', sans-serif;
  margin-top: 60px;
  padding: 8px 15px 8px 15px;
  text-align: center;
}

.main-search:focus {
  border: 1px solid teal;
  outline: none;
}

.search-results {
  line-height: 1.8em;
  margin-top: 10px;
}

.search-schema {
  background: white;
  border: 1px solid #e5e5e5;
  margin-bottom: 10px;
  opacity: 0.75;
  padding: 20px;
}

.search-schema-label {
  font-family: 'Quicksand', 'Open Sans', sans-serif;
  font-weight: 600;
}

.search-schema-info-block {
  font-size: 0.75em;
}

.contributor-count {
  float: right;
  font-size: 0.75em;
}

.search-schema-description,
.search-schema-stats {
  display: block;
}

.search-schema-rows,
.search-schema-columns {
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  display: inline-block;
  padding: 0 15px 0 15px;
}

.search-schema-rows {
  margin-right: 10px;
}

/* Signin Block */
.table-frame {
  display: table;
  height: 85%;
  position: absolute;
  width: 100%;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}

.signup-block,
.signin-block {
  margin: 0 auto;
  width: 375px;
}

.signin-block-header,
.signup-block-header {
  margin-bottom: 15px;
}

.signin-block-title,
.signup-block-title {
  color: teal;
  display: inline-block;
  font-family: Quicksand, 'sans-serif';
  font-size: 1.4em;
  font-weight: 600;
  margin-left: 0.25em;
}

.signin-block-signup,
.signup-block-signin {
  float: right;
  font-size: 0.75em;
  margin-right: 0.5em;
  margin-top: 0.5em;
}

/* Signin Form */
.signin-form,
.signup-form {
  background: white;
  border: 1px solid lightgrey;
  border-radius: 4px;
  padding: 25px;
}

.user-block,
.password-block,
.email-block {
  border: 1px solid lightgrey;
  border-radius: 4px;
  margin-bottom: 10px;
  width: 100%;
}

.user-icon,
.password-icon,
.email-icon {
  display: inline-block;
  height: 1.4em;
  margin-left: 10px;
  width: 20px;
}

.form-username,
.form-password,
.form-email {
  border: none;
  display: inline-block;
  padding: 8px 15px 0 15px;
  width: 90%;
}

.input:focus,
.data-search {
  outline: none;
}

.data-search {
  padding: 5px 15px 0 15px;
  width: 100%;
}

.signin-submit-button,
.signup-submit-button {
  background: teal;
  border: 1px solid teal;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  color: #f2f2f2;
  display: inline-block;
  height: 39px;
  margin-bottom: 5px;
  padding: 8px 15px 8px 15px;
  position: relative;
}

.signin-submit-button {
  float: right;
}

.signup-submit-button {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  margin-top: 10px;
  width: 100%;
}

.signin-submit-button:hover,
.signup-submit-button:hover {
  background: #008c8c;
}

#trailing-space {
  width: 195px;
}

/* Signup Form */
.signup-form .email-block {
  margin-bottom: 20px;
}

.signup-form p {
  font-size: 0.75em;
  font-weight: 700;
  margin-bottom: 4px;
}

.dropdown {
  margin-bottom: 15px;
}

select {
  width: 100%;
}

/* Data Page */
.tools {
  border-right: 1px solid #e5e5e5;
  display: inline-block;
  min-height: 100%;
  padding: 65px 15px 0 15px;
  position: absolute;
  width: 20%;
}

.viz-and-table-views {
  display: inline-block;
  margin-left: 20%;
  width: 80%;
}

.visualization-block {
  background: #fff;
  border-bottom: 1px solid #e5e5e5;
  height: 50%;
  padding: 65px 20px 0 20px;
}

.visualization-label {
  color: orange;
  display: inline-block;
  font-family: 'Quicksand', 'Open Sans', sans-serif;
  font-size: 2em;
  margin-bottom: 20px;
}

.table-view {
  max-height: 42.5%;
  max-width: 80%;
  overflow-x: auto;
  overflow-y: auto;
  position: absolute;
}

.select-chart,
.analysis-tools {
  color: teal;
  font-family: 'Quicksand', 'Open Sans', sans-serif;
  font-weight: 400;
  margin-top: 20px;
  padding: 5px 15px;
}

.select-chart li,
.analysis-tools li {
  color: #262626;
  cursor: pointer;
  font-size: 0.8em;
  font-weight: 400;
  line-height: 1.4em;
  margin-left: 15px;
  margin-top: 10px;
}

.select-chart li:hover,
.analysis-tools li:hover {
  color: orange;
}

/* CSV Table */
.schema-csv-table {
  font-size: 0.66em;
  line-height: 40px;
}

td {
  border: none;
  overflow-x: auto;
  padding: 5px 20px 5px 20px;
}

.csv-header {
  background: teal;
  color: #f2f2f2;
  font-family: 'Quicksand', 'Open Sans', sans-serif;
  font-weight: 400;
  height: 50px;
  line-height: 20px;
  padding: 5px 20px 5px 20px;
}

.csv-header:hover {
  color: orange;
  cursor: pointer;
}

.odd-header {
  background: #007878;
}

.even-row .even-column {
  background: #dae0e0;
}

.odd-row .even-column {
  background: #e5e7e7;
}

.even-row .odd-column {
  background: #cfd8d9;
}

.odd-row .odd-column {
  background: #dae0e0;
}

.download-button,
.upload-button {
  border: 1px solid teal;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  font-size: 0.66em;
  padding: 8px 15px 8px 15px;
}

.upload-button {
  color: teal;
  margin: 0 0 0 5px;
  overflow: hidden;
  position: relative;
}

.upload {
  cursor: pointer;
  filter: alpha(opacity=0);
  font-size: 0.66em;
  margin: 0;
  opacity: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
}

/* Menu Dash */
#dropdown {
  background: teal;
  border-radius: 4px;
  display: none;
  margin-top: 20px;
  padding: 25px;
  position: fixed;
  right: 0;
  text-align: right;
  width: 200px;
  z-index: 10;
}

#dropdown-list li {
  margin-top: 15px;
}

.menu-item {
  color: white;
  font-size: 0.85em;
  font-weight: 300;
  margin-top: 15px;
}

.menu-item:hover {
  color: orange;
  cursor: pointer;
}

/* Form Creation Page */
.form-creation-page {
  min-height: 100%;
  padding-top: 50px;
  width: 100%;
}

#left-side {
  display: inline-block;
  float: left;
  font-size: 15px;
  padding: 20px 10px 20px 20px;
  width:50%;
}

#sample-form-divider {
  display: inline-block;
  height: 100%;
  padding: 20px 20px 20px 10px;
  width: 50%;
}

.form-label {
  font-family: Quicksand, sans-serif;
  font-size: 1.4em;
  font-weight: 600;
  margin-bottom: 8px;
}

#live-render-sample-form {
  background-color: white;
  border: solid 1px #e5e5e5;
  border-radius: 4px;
  font-size: 15px;
  padding: 20px;
}

#editable-questions {
  margin-bottom: 10px;
}

.form-button {
  background: teal;
  border: 1px solid teal;
  border-radius: 4px;
  color: white;
  margin-top: 10px;
  padding: 8px 15px 8px 15px;
}

#form-title {
  color: teal;
  font-family: 'Quicksand', sans-serif;
  font-size: 2.4em;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 20px;
  min-height: 1.5em;
  text-align: center;
}

.form-question-block {
  background: white;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  margin-bottom: 15px;
  padding: 10px;
}

.live-render-form-question {
  margin-bottom: 20px;
}

.question-title {
  margin-bottom: 5px;
}

.section-block {
  background: white;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 20px;
}

.form-header {
  margin-bottom: 20px;
}

.form-input {
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  font-family: 'Open Sans', sans-serif;
  height: 40px;
  padding: 8px 15px 8px 15px;
  width: 100%;
}

.form-input:focus {
  border: 1px solid orange;
  outline: none;
}

.live-render-form-input {
  height: 40px;
  width: 100%;
}

/* Draggable */
#draggableQuestionInactive {
  background: #f7f7f7;
  color: #111;
}

#draggableQuestionActive {
  background: #f2f2f2;
  border: 1px solid orange;
  color: #111;
}

/* Scale Slider */
.scale-block {
  margin-bottom: 20px;
  margin-top: 25px;
  padding-left: 20px;
  padding-right: 20px;
}

.scale-block p,
.form-question-block p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}

.slider-input {
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  margin-right: 2%;
  padding: 8px 15px 8px 15px;
  width: 46%;
}

.slider-input:focus {
  border: 1px solid orange;
  outline: none;
}

.slider-labels {
  margin-top: 10px;
}
.slider-preview {
  margin-top: 20px;
  margin-bottom: 40px;
}

.slider-output {
  font-family: Quicksand, sans-serif;
  font-size: 2em;
  margin-bottom: -20px;
  margin-top: -25px;
  text-align: center;
}

.min-label,
.max-label {
  display: inline-block;
}

.max-label {
  float: right;
}

/* User Account */
.my-data-page {
  font-family: 'Quicksand', 'Open Sans', sans-serif;
  width: 960px;
  line-height: 1.6em;
  margin: 0 auto;
  text-align: center;
  padding-top: 80px;
}

.my-data-page p {
  margin-bottom: 20px;
}

.user-welcome {
  font-size: 2em;
  margin-bottom: 30px;
}

.contribution-grade,
.following {
  display: inline-block;
}
